body {
  background:#0e0e0e;
  color:#fff;
  font-family:Arial;
}

.app {
  width:400px;
  margin:50px auto;
  padding:20px;
  background:#1a1a1a;
  border-radius:8px;
}

input, select, button {
  width:100%;
  margin-top:10px;
  padding:10px;
}

button {
  background:#00ff99;
  border:none;
  cursor:pointer;
}
